.Dictionary h1 {
  font-size: 16px;
  margin-bottom: 20px;
  color: #96a45c;
}

.Dictionary section {
  background: white;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 0 10px 10px rgb(105 119 44 / 20%);
  margin: 20px 0;
}

.Dictionary input {
  width: 100%;
  border-radius: 10px;
  padding: 6px 10px;
  color: #4a4a49;
  border: 1px solid #ddd;
}

.Dictionary .hint {
  font-size: 11px;
  margin-top: 15px;
  color: #9a9a9a;
}
